<!-- <router-outlet></router-outlet> -->
<h1>{{( departamento.id) ? 'Editar': 'Nuevo'}} Departamento</h1>

<div mat-dialog-content>

  <p>Nombre del departamento</p>
    <mat-form-field [color]="color" appearance="fill">
      <mat-label>Departamento</mat-label>
      <input matInput 
             type="text" 
             [(ngModel)]="departamento.departamento" 
             required>
    </mat-form-field>
  </div>

  <button (click)='guardarDepartamento()'
        mat-raised-button color="primary">
        Guardar
        <mat-icon>add</mat-icon>
    </button>

    <span class="spacer"></span>

    <button (click)='eliminarDepartamento()'
            *ngIf="departamento.id"
    mat-raised-button color="warn">
    Eliminar
    <mat-icon>delete</mat-icon>
</button>




    


   